<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imalat.beeSystem">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.imalat.beeSystem.view.AcilisSayfasi"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name="com.imalat.beeSystem.view.ara.BarkodActivity"
            android:label="@string/title_activity_barkod">


        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.imalat.beeSystem.view.sepet.siparisOzeti.TeslimatZamaniSec"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imalat.beeSystem.view.sepet.siparisOzeti.OdemeYontemiSec"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imalat.beeSystem.view.sepet.siparisOzeti.TeslimatTipiSec"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imalat.beeSystem.view.sepet.siparisOzeti.SiparisNotu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imalat.beeSystem.view.profil.UyeOl"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.imalat.beeSystem.view.diger.BilgilendirmeActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.imalat.beeSystem.view.AnaSayfa"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.imalat.beeSystem.view.profil.GirisYap"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imalat.beeSystem.view.sepet.SepetimIptalEdildi"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.imalat.beeSystem.view.kategoriler.UrunDetaylari"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imalat.beeSystem.view.profil.Profilim"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imalat.beeSystem.view.profil.adres.Adreslerim"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imalat.beeSystem.view.profil.adres.AdresEkleDuzenle"
            android:screenOrientation="portrait" />
         <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- [END fcm_default_channel] -->
        <!-- [START firebase_service] -->
        <service
            android:name="com.imalat.beeSystem.bildirim.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->


        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />


    </application>

</manifest>